<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitdubai.smartwallet" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- to get location using GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Creating Permission to receive Google Maps -->
    <permission
        android:name="com.bitdubai.smartwallet.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="com.bitdubai.smartwallet.permission.MAPS_RECEIVE" />

    <!-- Permission to read Google Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name="com.bitdubai.android_core.app.common.version_1.classes.MyApplication"
        android:allowBackup="true" >


        <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDr98sVKnkeB-C26gU3Yu0HHpoVHETwdKo" />
        <activity
            android:name="com.bitdubai.android_core.app.RuntimeAppActivity"
            android:icon="@drawable/fermat"
            android:label="Fermat"
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bitdubai.sub_app.wallet_factory.fragment.version_1.activity.FactoryActivity"
            android:label="Factory" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.bitdubai.android_core.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity
            android:name="com.bitdubai.sub_app.wallet_publisher.activity.PublisherActivity"
            android:label="Publisher" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity
            android:name="com.bitdubai.sub_app.wallet_publisher.activity.ShopsActivity"
            android:label="Stores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.sub_app.wallet_publisher.activity.PublisherActivity" />
        </activity>
        <activity
            android:name="com.bitdubai.sub_app.wallet_publisher.activity.ShopActivity"
            android:label="Shop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.sub_app.wallet_publisher.activity.ShopsActivity" />
        </activity>
        <activity
            android:name="com.bitdubai.android_core.app.FragmentActivity"
            android:label="Desktop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.RuntimeAppActivity" />
        </activity>



        <activity
            android:name="com.bitdubai.android_core.app.subapp.shop.version_1.activity.ShopActivity"
            android:label="Wallet Store" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity android:name="com.bitdubai.sub_app.wallet_factory.fragment.version_3.activity.FactoryActivity"
            android:label="Wallet Factory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.shell.version_1.activity.DesktopActivity" />
        </activity>

    </application>
</manifest>
