<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitdubai.fermat">

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- to get location using GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permission to boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name="com.bitdubai.android_core.app.ApplicationSession"
        android:allowBackup="true"
        android:largeHeap="true">


        <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDr98sVKnkeB-C26gU3Yu0HHpoVHETwdKo" />


        <activity
            android:name="com.bitdubai.android_core.app.StartActivity"
            android:icon="@drawable/fermat"
            android:label="Fermat"
            android:theme="@style/AppTheme.NoActionBarStart">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--
        <receiver android:name="com.bitdubai.android_core.app.BootupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->

        <!-- Falta darle el permiso a alguien para que pueda o no apagar el servicio este -->
        <service
            android:name="com.bitdubai.android_core.app.LoaderService"
            android:enabled="true" />


        <activity
            android:name="com.bitdubai.android_core.app.SubAppActivity"
            android:label="Fermat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.StartActivity" />
        </activity>
        <activity
            android:name="com.bitdubai.android_core.app.EditableWalletActivity"
            android:label="Factory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.SubAppActivity"/>
        </activity>
        <activity
            android:name="com.bitdubai.android_core.app.WalletActivity"
            android:label="Wallet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitdubai.android_core.app.SubAppActivity" />
        </activity>

        <activity
            android:name="com.bitdubai.android_core.app.common.version_1.test.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>


        <activity
            android:name="com.bitdubai.android_core.app.WizardActivity"
            android:label="Wizard"
            android:screenOrientation="portrait" />

    </application>
</manifest>
