[submodule "wallet-platform-crypto-network-bitcoin-bitdubai"]
	path = wallet-platform-crypto-network-bitcoin-bitdubai
	url = ../wallet-platform-crypto-network-bitcoin-bitdubai.git
[submodule "libraries"]
	path = libraries
	url = https://github.com/bitDubai/libraries
[submodule "wallet-platform-plugin-module-wallet-manager-bitdubai"]
	path = wallet-platform-plugin-module-wallet-manager-bitdubai
	url = https://github.com/bitDubai/wallet-platform-plugin-module-wallet-manager-bitdubai
