[submodule "wallet-platform-os-android-bitdubai/wallet-platform-os-android-bitdubai"]
	path = wallet-platform-os-android-bitdubai/wallet-platform-os-android-bitdubai
	url = /home/ciencias/ideaProjects/bitDubai-system
