[submodule "wallet-platform-crypto-network-bitcoin-bitdubai"]
	path = wallet-platform-crypto-network-bitcoin-bitdubai
	url = ../wallet-platform-crypto-network-bitcoin-bitdubai.git
[submodule "libraries"]
	path = libraries
	url = https://github.com/bitDubai/libraries
[submodule "wallet-platform-plugin-module-wallet-manager-bitdubai"]
	path = wallet-platform-plugin-module-wallet-manager-bitdubai
	url = https://github.com/bitDubai/wallet-platform-plugin-module-wallet-manager-bitdubai
[submodule "wallet-platform-plugin-crypto-network-bitcoin-bitdubai"]
	path = wallet-platform-plugin-crypto-network-bitcoin-bitdubai
	url = https://github.com/bitDubai/wallet-platform-plugin-crypto-network-bitcoin-bitdubai
[submodule "wallet-platform-plugin-module-wallet-publisher-bitdubai"]
	path = wallet-platform-plugin-module-wallet-publisher-bitdubai
	url = https://github.com/bitDubai/wallet-platform-plugin-module-wallet-publisher-bitdubai.git
[submodule "wallet-platform-plugin-module-wallet-runtime-bitdubai"]
	path = wallet-platform-plugin-module-wallet-runtime-bitdubai
	url = https://github.com/bitDubai/wallet-platform-plugin-module-wallet-runtime-bitdubai.git
[submodule "wallet-platform-plugin-module-wallet-store-bitdubai"]
	path = wallet-platform-plugin-module-wallet-store-bitdubai
	url = https://github.com/bitDubai/wallet-platform-plugin-module-wallet-store-bitdubai.git
