/fermat-osa-addon-multi-os-update-center/nbproject/private/
/JavaFXRuntime/nbproject/private/
/fermat-full/nbproject/private/
/fermat-multi-os-core/nbproject/private/
/fermat-osa-addon-multi-os-database-system-bitdubai/nbproject/private/
/fermat-osa-addon-multi-os-file-system-bitdubai/nbproject/private/
/nbproject/private/