<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitdubai.smartwallet" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Creating Permission to receive Google Maps -->
    <permission
        android:name="com.bitdubai.smartwallet.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="com.bitdubai.smartwallet.permission.MAPS_RECEIVE" />

    <!-- Permission to read Google Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".ui.os.android.app.common.version_1.classes.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/burj_shield"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDr98sVKnkeB-C26gU3Yu0HHpoVHETwdKo" />

        <activity
                android:name=".ui.os.android.app.shell.version_1.activity.LoginActivity"
                android:label="bitDubai" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.os.android.app.shell.version_1.activity.DesktopActivity"
            android:label="@string/title_activity_blank" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.os.android.app.subapp.wallet_store.version_1.activity.StoreFrontActivity"
            android:label="Wallet Store" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity"
            android:label="Wallet"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.RequestsSentActivity"
            android:label="@string/title_activity_requests_sent"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.SentDetailActivity"
            android:label="@string/title_activity_sent_detail"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.AccountDetailActivity"
            android:label="@string/title_activity_account_detail"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ShopActivity"
            android:label="@string/title_activity_store"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.RefillPointActivity"
            android:label="@string/title_activity_refill_point"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.DailyDiscountsActivity"
            android:label="@string/title_activity_daily_discounts"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.WeeklyDiscountsActivity"
            android:label="@string/title_activity_weekly_discount"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.MonthlyDiscountsActivity"
            android:label="@string/title_activity_monthly_discounts"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.EditPersonalProfileActivity"
            android:label="@string/title_activity_edit_personal_profile"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.SendToContactActivity"
            android:label="Send To Contact Activity"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.SendToNewContactActivity"
            android:label="Sent to New Contact Activity"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity"
            android:windowSoftInputMode="stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.SentHistoryActivity"
            android:label="Sent History"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity"
            android:windowSoftInputMode="stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ReceivedDetailActivity"
            android:label="Received Detail Activity"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ReceiveFromNewContactActivity"
            android:label="Receive From New Contact Activity"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ReceiveFromContactActivity"
            android:label="@string/title_activity_receive_from_contact"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>

        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ReceiveAllHistoryActivity"
            android:label="@string/title_activity_receive_from_contact"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ChatOverTrxActivity"
            android:label="@string/title_activity_chat_over_trx"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>

        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ChatWithContactActivity"
            android:label="@string/title_activity_chat_over_trx"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>

        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.ChatOverReceiveTrxActivity"
            android:label="@string/title_activity_chat_over_trx"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>

        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.AvailableBalanceActivity"
            android:label="@string/title_activity_balance_available"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_store.version_1.activity.WalletActivity"
            android:label="@string/title_activity_wallet"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_store.version_1.activity.StoreFrontActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_store.version_1.activity.StoreFrontActivity" />
        </activity>

        <activity
            android:name=".ui.os.android.app.subapp.shop.version_1.activity.ShopActivity"
            android:label="Wallet Store" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity android:name=".ui.os.android.app.subapp.wallet_factory.version_1.activity.FactoryActivity"
            android:label="Wallet Factory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.shell.version_1.activity.DesktopActivity" />
        </activity>
        <activity
            android:name=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.RequestsReceivedActivity"
            android:label="@string/title_activity_requests_received"
            android:parentActivityName=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.os.android.app.subapp.wallet_runtime.wallet_framework.version_1.activity.FrameworkActivity" />
        </activity>



    </application>

</manifest>
